#popoutouter {
    position: relative;
}

#popout {
    position : absolute ;
    background-color: #FCF5E5;
    width: 100% ;
    cursor: pointer;
    /* box-shadow: 5px 5px 5px 5xp black; */
}

#outerelement {
    background-color: #FCF5E5;
}

#sideblock {
    width: 150px ;
    position: sticky ;
    top: 0px ;
}

#rightbar {
    width : 100% ;
}

